{% extends 'layout.html' %}

{% block content %}
   <div class="container-fluid">
          <!-- Breadcrumbs-->
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">Inicio</li>
          </ol>
          <!-- Page Content -->
         {% if session['loggedin'] %}
         <center> <h2>Bienvenido  {{ session['nick'] }} ! </h2> </center>
         {% else %}
         <center> <h2>Bienvenido Anonimo </h2></center>
       <center> Porfavor Para poder registrarte en torneos o concursos <a href="{{url_for('login')}}">Inicie Sesion</a> o <a href="{{url_for('registro')}}">Registrese</a> </center>
         {% endif %}
        <hr>
       <style>
       img {
              width: 100%;
              height: auto;
            }
            </style>
       <img src="/static/images/samurai_panel.jpg">


        </div>
        <!-- /.container-fluid -->
{% endblock %}